.footer {
  width: 100%;
  background-color: rgb(74, 31, 129);
  padding: 10px 0 10px 0px;
  margin-top: 50px;
  border-top: 3px solid #ffd250;
}
.footer p {
  font-size: 20;
  color: white;
  margin-left: 10%;
}
.footer p a {
  font-size: 20;
  color: white;
  margin-left: 10px;
}
.footer p a:hover {
  color: #ffd250;
}
