.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: white;
  font-weight: 500;
  color: rgb(74, 31, 129);
  border-bottom: 3px solid rgb(74, 31, 129);
}

.links {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  font-size: 15px;
}
.links a:hover {
  color: #ffd250;
}
