.navbar {
  width: 100%;
  height: 80px;
  background-color: white;
  font-weight: 500;
  color: rgb(74, 31, 129);
}

.links {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  font-size: 15px;
}
